@font-face {
    font-family: nb;
    src: url(./fonts/NBInternationalProBoo.woff2);
}

@font-face {
    font-family: inspired;
    src: url(./fonts/Rejouice-Headline.woff2);
}
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nb;
}

html, body {
    height: 100%;
    width: 100%;
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
}

#cursor{
    background-color: tomato;
    height: 5vw;
    width: 5vw;
    border-radius: 100%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

#cursor h5{
    font-weight: 200;
}

#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;

}

#page1-content{
    height: 100%;
    width: 100%;
    position: relative;
    /* background-color: black; */
    z-index: 10;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

nav{
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3vw 2vw;
}

nav h3{
    font-size: 1.5vw;
    font-weight: 100;
}

nav h4{
    font-size: 1.5vw;
    font-weight: 100;

}

#page1-content h1{
    font-family: inspired;
    font-size: 29vw;
    font-weight: 100;
    line-height: 27vw;
}

#page1-content h1 span{
    font-family: inspired;
}

#page2{
    height: 100vh;
    width: 100%;
}

.page-section {
    color: #0E0E0E; /* Dark text color */
    padding: 80px 40px;
    text-align: center;
    font-family: inspired; /* Use a modern, clean font */
}

/* Flex container for headings */
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

/* Styling for the headings */
.heading {
    font-size: 24px;
    line-height: 1.2;
    margin: 0;
    font-weight: 500; /* Slightly bold for emphasis */
}

.left-heading {
    text-align: left;
}

.right-heading {
    text-align: right;
}

@media (max-width: 768px) {
    .heading {
        font-size: 18px; /* Adjust font size for smaller screens */
    }
}

/* Styling for the paragraph content */
.content {
    font-size: 30px;
    line-height: 1.6;
    margin: 40px auto; /* Center the content */
    text-align: center;
    font-weight: 300; /* Light font weight for a clean look */
}

/* Styling for the animated line */
.animated-line {
    margin: 20px auto; /* Center the line */
    width: 90%; /* Adjust width to suit your design */
    height: 1px; /* Set line thickness */
    transform: scaleX(0); /* Start hidden for animation */
}

